<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quaerat
      similique minus?
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ab vero
        architecto quia saepe nisi. Numquam praesentium quo blanditiis inventore
        sit dignissimos ut deserunt adipisci.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/jpg"
        srcset="
          images/easy@1x.jpg       1x,
          images/easy@2x.jpg       2x,
          images/easy-original.jpg 3x
        "
      />
      <img class="feature__image" src="images/easy-original.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias
        aspernatur deserunt suscipit cum accusamus consequatur? Exercitationem
        tempora, earum ipsam quidem magni perferendis consectetur? Placeat
        repellendus quae vitae?
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/jpg"
        srcset="
          images/fast@1x.jpg       1x,
          images/fast@2x.jpg       2x,
          images/fast-original.jpg 3x
        "
      />
      <img class="feature__image" src="images/fast-original.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        tempore necessitatibus nesciunt mollitia incidunt magnam officia nam
        adipisci veniam ipsa quod dolor, dolore iure cum!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/jpg"
        srcset="
          images/wordpress@1x.jpg       1x,
          images/wordpress@2x.jpg       2x,
          images/wordpress-original.jpg 3x
        "
      />
      <img class="feature__image" src="images/wordpress-original.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat
        suscipit labore dolorum aliquid, reprehenderit natus ab nam ducimus sed
        adipisci quidem perspiciatis eveniet non nobis minus.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/jpg"
        srcset="
          images/support@1x.jpg       1x,
          images/support@2x.jpg       2x,
          images/support-original.jpg 3x
        "
      />
      <img class="feature__image" src="images/support-original.jpg" alt="" />
    </picture>
  </article>
</section>
