<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User-friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__picture">
      <source
        type="image/png"
        srcset="
          images/ipad@1x.png       1x,
          images/ipad@2x.png       2x,
          images/ipad-original.png 3x
        "
      />
      <img src="images/ipad-original.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title block--heading">
              Easy Start & Managed Updates
            </h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus, aliquid. Aut libero pariatur doloremque explicabo
              adipisci perferendis vel ratione odit molestias velit. Impedit,
              odit commodi!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, GIT & WP-CLI</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam
              ducimus voluptatem facilis necessitatibus, nihil nisi ab in, velit
              impedit iste laudantium? Iusto laboriosam quam vel.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Doloribus libero dolores doloremque impedit, cumque error, quod,
              quam aliquam ab eaque rerum earum autem? Alias, optio!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
