<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $5/month</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quam!</p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <a href="#"
      ><button class="btn btn--accent">
        <svg class="icon icon--white">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        Search
      </button></a
    >
  </div>
  <ul class="list block-domain__prices">
    <li>.com 9€</li>
    <li><span class="badge badge--secondary">.ro 8€</span></li>
    <li>.eu 6€</li>
    <li>.space 7€</li>
    <li>.info 5€</li>
    <li>.net 5.5€</li>
  </ul>
</section>
