<nav class="nav collapsible">
  <header class="collapsible__header nav__header">
    <a href="/"
      ><img class="logo" src="images/skyfy-logo-wordmark.svg" alt=""
    /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
  </header>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Hosting</a></li>
    <li class="nav__item"><a href="#">VPS</a></li>
    <li class="nav__item"><a href="#">Domain</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
